<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flab.buynow.order.repository.OrderRepository">

    <select id="findById" parameterType="java.lang.Long" resultType="flab.buynow.order.domain.Orders">
        SELECT
            id,
            user_id,
            order_no,
            name,
            tel,
            address,
            address_detail,
            order_date,
            status
        FROM ORDERS
        WHERE id = #{id}
    </select>

    <select id="getOrders" parameterType="flab.buynow.common.dto.PageInfoDto" resultType="flab.buynow.order.domain.Orders">
        SELECT
            id,
            user_id,
            order_no,
            name,
            tel,
            address,
            address_detail,
            order_date,
            status
        FROM ORDERS
        WHERE id > #{offset}
        ORDER BY ID
            LIMIT #{limit}
    </select>

    <select id="getOrderItem" parameterType="java.lang.Long" resultType="flab.buynow.order.domain.OrderItem">
        SELECT
            order_id,
            item_id,
            ea,
            price
        FROM ORDER_ITEM
        WHERE order_id = #{orderId}
    </select>

    <select id="getItemInfo" parameterType="java.lang.Long" resultType="flab.buynow.item.domain.Item">
        SELECT
            price,
            sale_price,
            stock,
            start_date,
            end_date
        FROM ITEM
        WHERE id = #{id}
        FOR UPDATE
    </select>

    <insert id="insertOrder" parameterType="flab.buynow.order.domain.Orders" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ORDERS(
            user_id
            ,order_no
            ,name
            ,tel
            ,address
            ,address_detail
            ,order_date
            ,status
        ) VALUES(
            #{userId}
            ,#{orderNo}
            ,#{name}
            ,#{tel}
            ,#{address}
            ,#{addressDetail}
            ,NOW()
            ,#{status}
        )
    </insert>

    <insert id="insertOrderItem" parameterType="flab.buynow.order.domain.OrderItem">
        INSERT INTO ORDER_ITEM(
            order_id
            ,item_id
            ,ea
            ,price
        ) VALUES(
            #{orderId}
            ,#{itemId}
            ,#{ea}
            ,#{price}
        )
    </insert>

    <update id="update" parameterType="flab.buynow.order.domain.Orders">
        UPDATE ORDERS SET
            name = #{name}
            ,tel = #{tel}
            ,address = #{address}
            ,address_detail = #{addressDetail}
        WHERE id = #{id}
    </update>

    <update id="cancel" parameterType="flab.buynow.order.domain.Orders">
        UPDATE ORDERS SET
            status = #{status}
        WHERE id = #{id}
    </update>

    <update id="minusStock" parameterType="flab.buynow.item.domain.Item">
        UPDATE ITEM SET
            stock = #{stock}
        WHERE id = #{id}
    </update>

    <update id="plusStock" parameterType="flab.buynow.item.domain.Item">
        UPDATE ITEM SET
            stock = #{stock}
        WHERE id = #{id}
    </update>

</mapper>